body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.card {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 142px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  perspective: 1000px;
}

.card-front {
  position: relative;
  width: 100%;
  heigh: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform: rotateY(180deg);
}

.card-back {
  background-image: url('photos/small-cardback.png');
  transform: rotateY(180deg);
}

.card-1 {
  background-image: url('photos/small-chameleon.png');   
}

.card-2 {
  background-image: url('photos/small-cheetah.png');   
}

.card-3 {
  background-image: url('photos/small-deer.png');   
}

.card-4 {
  background-image: url('photos/small-fox.png');   
}

.card-5 {
  background-image: url('photos/small-giraffe.png');   
}

.card-6 {
  background-image: url('photos/small-lioness.png');   
}

.card-7 {
  background-image: url('photos/small-owl.png');   

}

.card-8 {
  background-image: url('photos/small-seal.png');   
}

.kbd-navigation .card:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
